*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .2s ease-in-out;
-webkit-tap-highlight-color: transparent;
}
ul {
list-style: none;
}
a {
text-decoration: none;
outline: none;
}
img {
display: block;
width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
letter-spacing: 1px;
}
body {
font-size: 14px;
line-height: 1;
}

header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
}
button,input{
    background: none;
    border: none;
}
body{
    background: white;
}
*{
    font-family: 'Manrope', sans-serif;
}

/* Font */


.display1{
    font-size: 72px;
    font-weight: 600;
    line-height: 64.8px;
    color: var(--Neutral_100);
}
.display2{
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
    color: var(--Neutral_100);
}
.display3{
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    color: var(--Neutral_100);
}

.header1{
    font-size: 32px;
    font-weight: 600;
    line-height: 35.2px;
    color: var(--Neutral_100);
}
.header2{
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    color: var(--Neutral_100);
}
.header3{
    font-size: 20px;
    font-weight:600;
    line-height: 24px;
    color: var(--Neutral_100);
}
.header3{
    font-size: 14px;
    font-weight:600;
    line-height: 16.8px;
    color: var(--Neutral_100);
}
.header4{
    font-size: 12px;
    font-weight:600;
    line-height: 14.4px;
    color: var(--Neutral_100);
}

.main_sm_16{
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    color: var(--Neutral_100);
}
.main_sm_14{
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    color: var(--Neutral_100);
}
.main_sm_12{
    font-size: 12px;
    font-weight: 500;
    line-height: 15.6px;
    color: var(--Neutral_100);
}

:root{
    --Neutral_100: #ffffff;
    --Neutral_150: #FAFAFA;
    --Neutral_200: #F1F1F1;
    --Neutral_300: #E0E0E0;
    --Neutral_400: #B2B2B2;
    --Neutral_500: #828282;
    --Neutral_600: #686868;
    --Neutral_700: #505050;
    --Neutral_800: #333333;
    --Neutral_900: #161616;
    --Neutral_1000: #0A0A0A;
    --Error: #EE0003;
}

@media (max-width:1080px) {
    .header1{
        font-size: 40px;
        line-height: 48px;
    }
    .header2{
        font-size: 40px;
        line-height: 50px;
    }
    .header3{
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -1%;
    }
}